.home-container {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	align-items: center;
	margin-top: 4rem;
	.icon {
		padding: 0.5rem;
		border-radius: 50%;
		background-color: var(--primary);
	}

	h2 {
		text-align: center;
	}

	form {
		width: 100%;
	}

	.error {
		padding-top: 3px;
		font-size: 0.75rem;
		color: var(--semantic-02);
	}

	.row-control {
		margin-bottom: 1.5rem;
	}
}
